{% extends './partials/base_layout.html' %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/separador.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/generic-pages.css') }}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/months-problems.css') }}">
{% endblock %}

{% block content %}
<div class="div-separadora">
    <video autoplay muted playsinline>
        <source src="{{ url_for('static', filename='videos/titles/months-problems.webm') }}" type="video/webm">
    </video>
    
    <h1 class="fade-in-text"> $\text{Problemas do Mês}$ </h1>
</div>

<div class="central-content">
    {% if post_list %}
        <div class="problem-list">
            {% for post in post_list %}
                <a href="{{ url_for('view_post', path=post.path) }}" class="problem-item {% if not post.meta.is_solved %}open-problem{% endif %}">
                    {% if post.meta.image %}
                    <div class="problem-item-img">
                        <img src="{{ url_for('static', filename=post.meta.image) }}" alt="Problem Image">
                    </div>
                    {% endif %}

                    <div class="problem-item-info">
                        <h5>{{ post.meta.title }}</h5>
                        <hr>
                        <p>{{ post.meta.desc }}</p>
                        
                        {% if not post.meta.is_solved %}
                            <hr>
                            <p class="status-open">Status: Em Aberto</p>
                        {% endif %}
                    </div>

                    <div class="problem-item-solver">
                        {% if post.meta.is_solved %}
                            <p class="status-solved">Premiado:</p>
                            {% if post.meta.solver_image %}
                                <img src="{{ url_for('static', filename=post.meta.solver_image) }}" alt="Solver" style="width: 90px; height: 90px; border-radius: 50%; margin-bottom: 5px; margin-right: 10px;">
                            {% endif %}
                            <p style="margin-right: 10px; font-size: larger;" ><strong>{{ post.meta.solver_name }}</strong></p>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>Não há problemas do mês publicados.</p>
    {% endif %}

    <hr>

</div>
{% endblock %}