    .div-separadora video {
        position: absolute;
        top: -108.5px;
        width: 32.1%;
        object-fit: cover; 
        z-index: 1; /* Send video to the back layer */
    }

    .hidden-post {
    display: none;
    }

    .initially-hidden {
        display: none;
    }

    .button-container {
        text-align: center; /* Centers the buttons */
        margin-top: 20px;
    }